<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Motor-G</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link"   routerLink="/" >Buy <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rent-property" >Rent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-property" >List Property</a>
      </li>
    </ul>
   <div>
     <ul class="nav navbar-nav">
        <li *ngIf="!login()" class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
       </li>
       <li  *ngIf="!login()"  class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
       </li>
      </ul>
       <div *ngIf="login()" class="dropdown mr-5" dropdown>
          <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false" >
            Welcome {{logUser}}
          </a>
         <div class="dropdown-menu" *dropdownMenu>
             <a href="#" class="dropdown-item">
              <i class="fas fa-tachometer-alt">View Dashboard</i>
             </a>
             <a href="#" class="dropdown-item">
              <i class="far fa-user-circle">My Profile</i>
             </a>
             <a href="#" class="dropdown-item">
              <i class="fas fa-key">Change Password</i>
             </a>
             <a href="#" (click)="logout()" class="dropdown-item">
              <i class="fas fa-sign-out-alt" >LogOut</i>
             </a>
         </div>
        
   
    </div>
   </div>
  </div>

</nav>